<app-header></app-header>
<app-form
    titulo="Sede"
    apiUrlCreate="/api/Sede/createSede"
    [titulos]="['Nombre', 'Dirección', 'País', 'Región', 'HUB']"
    [campos]="[
        {nombre: 'nombreSede', tipo: 'text', llaveForanea: false},
        {nombre: 'direccionSede', tipo: 'text', llaveForanea: false},
        {nombre: 'idPais', tipo: 'number', llaveForanea: true, urlGet: '/api/Pais/getPaises'},
        {nombre: 'idRegion', tipo: 'number', llaveForanea: true, urlGet: '/api/Region/getRegiones'},
        {nombre: 'idHUB', tipo: 'number', llaveForanea: true, urlGet: '/api/HUB/getHUBSAll'}
    ]"
    urlEntidad="/sede">
</app-form>