<app-header></app-header>
<app-form
    titulo="Empleado"
    apiUrlCreate="/api/Empleado/createEmpleado"
    [titulos]="['Número de ficha', 'Nombre', 'Télefono', 'Correo', 'Departamento Empleado', 'Área Empleado', 'Puesto Empleado', 'Sede']"
    [campos]="[
        {nombre: 'numeroDeFicha' , tipo: 'text', llaveForanea: false},
        {nombre: 'nombreEmpleado', tipo: 'text', llaveForanea: false},
        {nombre: 'telefonoEmpleado', tipo: 'text', llaveForanea: false},
        {nombre: 'correoEmpleado', tipo: 'text', llaveForanea: false},
        {nombre: 'idDepartamentoEmpleado', tipo: 'number', llaveForanea: true, urlGet:'/api/DepartamentoEmpleado/getDepartamentosEmpleados'},
        {nombre: 'idAreaEmpleado', tipo: 'number', llaveForanea: true, urlGet:'/api/AreaEmpleado/getAreasEmpleadosAll'},
        {nombre: 'idPuestoEmpleado', tipo: 'number', llaveForanea: true, urlGet:'/api/PuestoEmpleado/getPuestosEmpleadosAll'},
        {nombre: 'idSede', tipo: 'number', llaveForanea: true, urlGet:'/api/Sede/getSedesAll'}
    ]"
    urlEntidad="/empleado">
</app-form>