<app-header></app-header>
<app-table
    entidad="Tipo De Equipo"
    apiUrl="http://localhost:5290/api/TipoDeEquipo/getTiposDeEquipos"
    apirUrlGetByName="http://localhost:5290/api/TipoDeEquipo/getTipoDeEquipoByName?nombre="
    apirUrlCreate="/createTipoEquipo"
    apirUrlDelete="http://localhost:5290/api/TipoDeEquipo/deleteTipoDeEquipo?id="
    apiUrlUpdate="http://localhost:5290/api/TipoDeEquipo/updateTipoDeEquipo?id="
    [columnas]="['id', 'nombre', 'descripcionTipoDeEquipo', 'nombreMarca']"
    [nombreColumnas]="['Id', 'Nombre', 'Descripción', 'Marca']"
    [camposActualizables]="[
        {nombre: 'nombre', tipo: 'text', llaveForanea: false},
        {nombre: 'descripcionTipoDeEquipo', tipo: 'text', llaveForanea: false}
    ]"
    placeHolder="Buscar por nombre">
</app-table>