<app-header></app-header>
<app-table
    entidad="Equipo"
    apiUrl="/api/Equipo/getEquipos"
    apirUrlGetByName="/api/Equipo/getEquipoBySerialNumber?serialNumber="
    apirUrlCreate="/createEquipo"
    apirUrlDelete="/api/Equipo/deleteEquipo?id="
    apiUrlUpdate="/api/Equipo/updateEquipo?id="
    [columnas]="['id', 'nombreTipoDeEquipo' ,'nombre', 'estadoEquipo', 'fechaDeIngreso' ]"
    [nombreColumnas]="['Id', 'Tipo de equipo', 'No. Serie', 'Estado', 'Fecha de ingreso']"
    [camposActualizables]="[
        {nombre: 'nombre', tipo: 'text', llaveForanea: false},
        {nombre: 'estadoEquipo', tipo: 'text', llaveForanea: false},
        {nombre: 'fechaDeIngreso', tipo: 'date', llaveForanea: false}
    ]"
    placeHolder="Buscar por No. de serie">
</app-table>