<app-header></app-header>
<app-table
    entidad="Reporte Equipo"
    apiUrl="/api/ReporteEquipo/getReporteEquipos"
    apirUrlGetByName="/api/ReporteEquipo/getReporteEquipoBySerialNumber?serialNumber="
    apirUrlCreate="/createReporteEquipo"
    apirUrlDelete="/api/ReporteEquipo/deleteReporteEquipo?id="
    apiUrlUpdate="/api/ReporteEquipo/updateReporteEquipo?id="
    [columnas]="['idReporteEquipo', 'numeroDeSerie', 'descripcionReporteEquipo', 'fechaReporte']"
    [nombreColumnas]="['Id', 'Número de serie', 'Descripción', 'Fecha del reporte']"
    [camposActualizables]="[
        {nombre: 'fechaReporte', tipo: 'date', llaveForanea: false},
        {nombre: 'descripcionReporteEquipo', tipo: 'text', llaveForanea: false}
    ]"
    placeHolder="Buscar por No. de serie">
</app-table>
