<app-header></app-header>
<app-form
    titulo="Reporte Equipo"
    apiUrlCreate="/api/ReporteEquipo/createReporteEquipo"
    [titulos]="['Fecha del reporte', 'Descripción', 'Equipo']"
    [campos]="[
        {nombre: 'fechaReporte', tipo: 'date', llaveForanea: false},
        {nombre: 'descripcionReporteEquipo', tipo: 'text', llaveForanea: false},
        {nombre: 'idEquipo', tipo: 'number', llaveForanea: true, urlGet:'/api/Equipo/getEquiposAll'}
    ]"
    urlEntidad="/reporteEquipo">
</app-form>