<app-header></app-header>
<app-table
    entidad="Marca"
    apiUrl="http://localhost:5290/api/Marca/getMarcas"
    apirUrlGetByName="http://localhost:5290/api/Marca/getMarcaByName?nombre="
    apirUrlCreate="/createMarca"
    apirUrlDelete="http://localhost:5290/api/Marca/deleteMarca?id="
    apiUrlUpdate="http://localhost:5290/api/Marca/updateMarca?id="
    [columnas]="['id', 'nombre', 'descripcionMarca']"
    [nombreColumnas]="['Id', 'Nombre', 'Descripción']"
    [camposActualizables]="[
        {nombre: 'nombre', tipo: 'text', llaveForanea: false},
        {nombre: 'descripcionMarca', tipo: 'text', llaveForanea: false}
    ]"
    placeHolder="Buscar por nombre">
</app-table>