<app-header></app-header>
<app-table
    entidad="Propietario Equipo"
    apiUrl="/api/PropietarioEquipo/getPropietariosEquipos"
    apirUrlGetByName="/api/PropietarioEquipo/getEquipoByOwner?nombre="
    apirUrlCreate="/createPropietarioEquipo"
    apirUrlDelete="/api/PropietarioEquipo/deletePropietarioEquipo?id="
    [columnas]="['idPropietarioEquipo', 'nombreEmpleado','nombreTipoDeEquipo' ,'numeroDeSerie', 'nombreHUB','fechaDeEntrega']"
    [nombreColumnas]="['Id', 'Empleado', 'Tipo De Equipo','Número de serie equipo', 'HUB','Fecha de entrega']"
    placeHolder="Buscar por empleado"
    apiUrlFiltro="/api/HUB/getHUBSAll"
    apiUrlGetFiltro="/api/PropietarioEquipo/getPropietarioEquipoByHUB?hub=">
</app-table>
