<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">Iniciar Sesión</h2>
            <div class="form-group mb-3">
              <label for="usuario">Usuario</label>
              <input type="text" id="usuario" class="form-control" [(ngModel)]="usuario" placeholder="Ingrese su usuario">
            </div>
            <div class="form-group mb-3">
              <label for="pass">Contraseña</label>
              <input type="password" id="pass" class="form-control" [(ngModel)]="pass" placeholder="Ingrese su contraseña">
            </div>
            <button class="btn btn-primary btn-block" (click)="login()">Iniciar Sesión</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  