<app-header></app-header>
<app-table
    entidad = "Puesto Empleado"
    apiUrl = "/api/PuestoEmpleado/getPuestosEmpleados"
    apirUrlGetByName= "/api/PuestoEmpleado/getPuestoEmpleadoByName?name="
    apirUrlCreate="/createPuestoEmpleado"
    apirUrlDelete="/api/PuestoEmpleado/deletePuestoEmpleado?id="
    apiUrlUpdate="/api/PuestoEmpleado/updatePuestoEmpleado?id="
    [columnas] = "['id', 'nombre', 'descripcionPuestoEmpleado', 'nombreAreaEmpleado']"
    [nombreColumnas] = "['Id', 'Puesto', 'Descripción', 'Área de empleado']"
    [camposActualizables]="[
        {nombre: 'nombre', tipo: 'text', llaveForanea: false},
        {nombre: 'descripcionPuestoEmpleado', tipo: 'text', llaveForanea: false}
    ]"
    placeHolder="Buscar por nombre">
</app-table>

