<app-header></app-header>
<app-form
    titulo="Tipo De Equipo"
    apiUrlCreate="/api/TipoDeEquipo/createTipoDeEquipo"
    [titulos]="['Nombre del tipo de equipo', 'Descripción', 'Marca']"
    [campos]="[
        {nombre: 'nombreTipoDeEquipo', tipo: 'text', llaveForanea: false},
        {nombre: 'descripcionTipoDeEquipo', tipo: 'text', llaveForanea: false},
        {nombre: 'idMarca', tipo: 'text', llaveForanea: true, urlGet: '/api/Marca/getMarcasAll'}
    ]"
    urlEntidad="/tipoDeEquipo">
</app-form>