<div class="entity-table-container">
  <div class="entity-header">
    <h2>{{ entidad }}</h2>
    <input type="text" #inputBox (input)="onSearch(inputBox.value)" [hidden]="isSearchDisabled.valueOf()" [placeholder]="placeHolder" />
    <button (click)="abrirFiltros()" class="filter-button">
      <i class="fa fa-filter"></i>
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let nombreColumna of nombreColumnas">{{ nombreColumna }}</th>
        <th [hidden]="isDeleteDisabled.valueOf()">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filtros; let i = index">
        <td *ngFor="let columna of columnas; let j = index" [attr.data-index]="j">
          {{ item[columna] }}
        </td>
        <td [hidden]="isDeleteDisabled.valueOf()">
          <button class="edit-button" (click)="abriModalUpdate(i)">
            <i class="fa fa-edit"></i>
          </button>
          <button class="delete-button" (click)="eliminar(i)">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>     
  </table>

  <div class="pagination">
    <button *ngFor="let i of getPaginasArray()" 
            (click)="cambiarPagina(i)" 
            [class.active]="pagina === i">{{ i }}
    </button>
  </div>

  <div class="button-container" (click)="crearEntidad()" [hidden]="isCreateDisabled.valueOf()">
    <button class="create-button">
      Crear Nuevo Registro
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>

<!-- Modal de edición -->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content border-primary">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Editar Registro</h5>
        <button type="button" class="close text-white" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div *ngFor="let campo of camposActualizables" class="col-md-6 mb-3">
              <div class="form-group">
                <label [for]="campo.nombre">{{ getNombreColumna(campo.nombre) }}</label>

                <!-- Input para campos de texto y número -->
                <input *ngIf="(campo.tipo === 'text' || campo.tipo === 'number') && !campo.llaveForanea" 
                      [type]="campo.tipo" 
                      class="form-control" 
                      [(ngModel)]="registroSeleccionado[campo.nombre]" 
                      [name]="campo.nombre" 
                      [id]="campo.nombre"
                      placeholder="Ingrese {{ getNombreColumna(campo.nombre) }}">

                <!-- Select para llaves foráneas -->
                <select *ngIf="campo.llaveForanea" 
                        class="form-control" 
                        [name]="campo.nombre" 
                        [id]="campo.nombre">
                  <option *ngFor="let opcion of campo.opciones" [(ngModel)]="registroSeleccionado[campo.nombre]" [value]="opcion.id">
                    {{opcion.id}} | {{ opcion.nombre }}
                  </option>
                </select>

                <!-- Date picker para campos de fecha -->
                <input *ngIf="campo.tipo === 'date'" 
                      type="date" 
                      class="form-control" 
                      [(ngModel)]="registroSeleccionado[campo.nombre]"
                      [name]="campo.nombre" 
                      [id]="campo.nombre">
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="actualizar()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


</div>
