.entity-table-container {
  width: 100%; /* Ajusta este valor para reducir el tamaño */
  margin: 0 auto; /* Centra el contenedor */
  max-width: 1200px; /* Establece un ancho máximo para evitar que la tabla sea demasiado grande */
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra ligera para mejorar el diseño */
  background-color: white; /* Fondo blanco para destacar la tabla */
  border-radius: 8px; /* Bordes redondeados */
}

.entity-header{
  padding: 16px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  padding: 16px;
}

.table th, .table td {
  padding: 0.75rem;
  border: 1px solid #ddd;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button.active {
  background-color: #ff6600;
  color: white;
}

.filter-button {
  float: right;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.create-button {
  background-color: #ff6600; /* Color de fondo del botón */
  color: white; /* Color del texto */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre texto y icono */
}

.create-button:hover {
  background-color: #E64A19; 
}

.create-button i {
  font-size: 16px; /* Tamaño del ícono */
}

