<div class="entity-table-container">
  <div class="entity-header">
    <h2>{{ entidad }}</h2>
    <input type="text" #inputBox (input)="onSearch(inputBox.value)" [hidden]="isSearchDisabled.valueOf()" placeholder="Buscar por nombre..." />
    <button (click)="abrirFiltros()" class="filter-button">
      <i class="fa fa-filter"></i>
    </button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let nombreColumna of nombreColumnas">{{ nombreColumna }}</th>
      </tr>
    </thead>
    <tbody>
      <tbody>
        <tr *ngFor="let item of filtros">
          <td *ngFor="let columna of columnas">{{ item[columna] }}</td>
        </tr>
      </tbody>      
  </table>

  <div class="pagination">
    <button *ngFor="let i of getPaginasArray()" 
            (click)="cambiarPagina(i)" 
            [class.active]="pagina === i">{{ i }}
    </button>
  </div>

  <div class="button-container" (click)="crearEntidad()" [hidden]="isCreateDisabled.valueOf()">
    <button class="create-button">
      Crear Nuevo Empleado
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
  
</div>
